

li {list-style-type: none;
  display: inline-block;
  border-bottom: 1px solid black;
}
.intro{padding: 10%;
}
#new_icon{
  background: rgb(187, 56, 37);
  color: white;
  overflow-wrap: break-world;
}
